.mail-details {
    max-width: 50vw;
    place-self: center;
    margin: 4.5em 4em;

    .mail-header {
        justify-content: space-between;
        gap :12em;

        .mail-action-btns {
            gap: 2em;

            button {
                border: none;
                padding: 0;
                height: 1.5em;
                background-color: white;

                i {
                    font-size: 1.4em;
                }
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}