.mail-details {
    width: 60vw;
    place-self: center;
    margin: 4.5em 4em;

    .mail-header {
        justify-content: space-between;

        .mail-action-btns {
            gap: 2em;

            button {
                border: none;
                padding: 0;
                height: 1.5em;
                background-color: white;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}