.mail-list-container {
    padding: 2em;

    .mail-table {
        place-self: center;
        width: 75vw;
        border-collapse: collapse;
        background-color: rgb(248, 247, 247);

        th {
            padding: .5em;
        }

        tr {
            border-bottom: 1px solid rgb(223, 219, 219);

            td {
                padding: .5em;
            }
        }
    }
}

.mail-preview {
    cursor: pointer;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    .from-col{
        font-weight:bold;
    }

    .subject-col {
        .mail-subject {
            font-weight: 520;
        }

        .mail-short-body {
            opacity: 0.5;
        }
    }

    .date-col {
        text-align: center;
    }
    .stars-col {
    
        .star-icon {
            font-size: 1.4em;
        }
    
        .star-icon.starred {
            color: gold;
        }
    }
}


/* .from-col {} */