.note-list {
  column-count: 3;
  column-width: 220px;
  column-gap: 2em;
  column-rule: 1px solid lightgray;
  padding: 10px;
}

.note-prev {
  margin-block-start: 0;
}
.note-list li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 16px;
  padding: 10px;
  background: var(--gray1);
  margin: 0.5em;
  margin-block-start: 0;
  break-inside: avoid;
}

.note-list img {
  display: block;
  max-width: 100%;
}

.note-list button {
  justify-self: end;
}
