/* note list */
.note-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 10px;
}

.note-list ul li {
  display: flex;
  position: relative;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  border-radius: 5px;
  gap: 5px;
  padding: 10px;
  background: linear-gradient(360deg, #a6a698, #a7ffd6);
}
