.review-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #474e5d7a;

    .modal-content {
        position: relative;
        place-self: center;
        margin-top: 30vh;
        width: 400px;
        max-width: 70vw;
        background-color: rgb(141, 190, 174);
        padding: 1em;

        .btn-toggle-modal {
            position: absolute;
            top: -1.3em;
            right: -1.3em;
        }

        form {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;
        }
    }
}